
.search-bar .input-group {
  border: 2px solid #b8b3b3;
  border-radius: 30px;
  overflow: hidden;
}

.search-input {
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  box-shadow: none !important;
}

.search-input:focus {
  box-shadow: none !important;
}

.input-group-append .btn {
  border: none;
  border-radius: 30px;
}

.buttons {
  margin-bottom: 20px;
}



.buttons .btn {
  border-radius: 10px !important;
}

.client-list {
  margin-top: 20px;
}

.client-list th:last-child,
.client-list td:last-child {
  text-align: center;
}

