/* Estilos para el formulario de inicio de sesión */
body {
    height: 100vh;
    width: 100%;
    background-image: url('../imagenes/fondo4.jpg');
    background-size: cover;
    background-position: center;
}
.login-container {
    max-width: 500px;
    margin: auto;
    padding: 70px;
    background-color: antiquewhite; 
    border-radius: 60px;
}

    .login-container h2 {
        color:black; 
        text-align: center;
    }

.form-floating label {
    color: black;
}